/* цвет основного текста #757575 */
/* вторичный цвет текста  #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */
/* третичный цвет фона #F5F4FA */
/* цвет основных контактов rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-communication-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --tertiary-bg-color: #f5f4fa;
}

* {
  text-decoration: none;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Site nav */

.site-nav .link {
  color: var(--secondary-text-color);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header a:hover,
.header a:focus {
  color: var(--accent-color);
}

.header .communication {
  color: var(--primary-text-color);
}

/* Hero */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

/* Section */

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */

.features .title {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  background-color: var(--secondary-bg-color);
}

.footer .communication {
  color: var(--primary-communication-color);
}